@using EntFrm.Business.Model;

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Edit";

    DsQuartzInfo info = (DsQuartzInfo)ViewBag.StackHolder;
}

@section PageSpecificStyleSheetIncludes{
    <style type="text/css">
        body {
            background-color: white;
        }

        .changeicon {
            float: right;
            margin-right: -15px;
            position: absolute;
            right: -7px;
            top: 0px;
            border: none;
            background-color: #18a689;
            color: #FFFFFF;
            line-height: 33px;
            height: 33px;
        }
    </style>
}

@section PageSpecificJavascriptIncludes{
    <script type="text/javascript">
        $(document).ready(function () {
        });
    </script>
}

<form class="form-horizontal">
    <div class="wrapper-content">
        <div class="panel-body" style="padding-top:0px;">
            <div class="tab-content">
                <div id="tab-1" class="tab-pane active">

                    <div class="form-group">
                        <label class="col-lg-3 control-label">调度编号：</label>
                        <div class="col-lg-8">
                            <input type="text" class="form-control" name="sQuartzNo" id="sQuartzNo" readonly value="@info.sQuartzNo" placeholder="调度编号" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-3 control-label">调度名称：</label>
                        <div class="col-lg-8">
                            <input type="text" class="form-control" name="sQuartzName" id="sQuartzName" value="@info.sQuartzName" placeholder="调度名称" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-3 control-label">表达式：</label>
                        <div class="col-lg-8">
                            <input type="text" class="form-control" name="sCornExp" id="sCornExp" value="@info.sCornExp" placeholder="表达式" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-3 control-label">调度任务：</label>
                        <div class="col-lg-8">
                            <input type="text" class="form-control" name="sJobTask" id="sJobTask" value="@info.sJobTask" placeholder="调度任务" />
                        </div>
                    </div>
                    <div class="form-group ">
                        <label class="col-lg-3 control-label">设备列表：</label>
                        <div class="col-lg-8">
                            <input type="text" class="form-control" name="PlayerNos" id="PlayerNos" value="@info.sPlayerNos" placeholder="设备列表" />
                        </div>
                    </div> 
                    <div class="form-group">
                        <label class="col-lg-3 control-label">备注：</label>
                        <div class="col-lg-8">
                            <textarea type="text" class="form-control" name="Comments" id="Comments" rows="5">@info.sComments</textarea>
                        </div>
                    </div>
                    <div class="hr-line-dashed" style="display: table;margin-left: auto;margin-right: auto;">
                        <div class="form-group m20">
                            <button class="btn btn-warning" id="btn-dig-close" type="button"><i class="im-undo2"></i> 返回</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>