@using EntFrm.Business.Model;

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Edit";

    DsResultFlows info = (DsResultFlows)ViewBag.StackHolder;
}

@section PageSpecificStyleSheetIncludes{
    <style type="text/css">
        body {
            background-color: white;
        }

        .changeicon {
            float: right;
            margin-right: -15px;
            position: absolute;
            right: -7px;
            top: 0px;
            border: none;
            background-color: #18a689;
            color: #FFFFFF;
            line-height: 33px;
            height: 33px;
        }
    </style>
}

@section PageSpecificJavascriptIncludes{
    <script type="text/javascript">
        $(document).ready(function () {
        });
    </script>
}

<form class="form-horizontal">
    <div class="wrapper-content">
        <div class="panel-body" style="padding-top:0px;">
            <div class="tab-content">
                <div id="tab-1" class="tab-pane active">

                    <div class="form-group">
                        <label class="col-lg-3 control-label">编号：</label>
                        <div class="col-lg-8">
                            <input type="text" class="form-control" name="DFlowNo" id="DFlowNo" value="@info.sRFlowNo" placeholder="编号" readonly="readonly" />
                        </div>
                    </div> 
                    <div class="form-group">
                        <label class="col-lg-3 control-label">返回码：</label>
                        <div class="col-lg-8">
                            <input class="form-control" name="ProgmNo" id="ProgmNo" placeholder="返回码" value="@info.sRetCode"  />
                        </div>
                    </div> 
                    <div class="form-group">
                        <label class="col-lg-3 control-label">错误码：</label>
                        <div class="col-lg-8">
                            <input class="form-control" name="PlayerNo" id="PlayerNo" placeholder="错误码" value="@info.sRetError"  />
                        </div>
                    </div>
                        <div class="form-group">
                            <label class="col-lg-3 control-label">IP地址：</label>
                            <div class="col-lg-8">
                                <input class="form-control" name="DSchedule" id="DSchedule" placeholder="IP地址" value="@info.sIpAddress"  />
                            </div>
                        </div>
                    <div class="form-group">
                        <label class="col-lg-3 control-label">命令码：</label>
                        <div class="col-lg-8">
                            <input class="form-control" name="DloadHits" id="DloadHits" placeholder="命令码" value="@info.sCmdCode"  />
                        </div>
                    </div> 
                        <div class="form-group">
                            <label class="col-lg-3 control-label">执行结果：</label>
                            <div class="col-lg-8">
                                <textarea type="text" class="form-control" name="Comments" id="Comments" placeholder="执行结果" rows="5" >@info.sCmdResult</textarea>
                            </div>
                        </div>
                        <div class="hr-line-dashed" style="display: table;margin-left: auto;margin-right: auto;">
                            <div class="form-group m20">
                                <button class="btn btn-warning" id="btn-dig-close" type="button"><i class="im-undo2"></i> 返回</button>
                            </div>
                        </div>
                    
                </div>
            </div>
        </div>
    </div>
</form>